$basic_white: #ffffff;
$basic_grey: #bdbdbd;
$basic_black: #333333;
$basic_primary: #7859cf;
$basic_secondary: #f0ebff;

$alt_primary_opacity: rgba(120, 89, 207, 0.25);
$alt_primary_lighter: #9070ec;
$alt_primary_darker: #593cac;
$alt_light_grey: #e2e2e2;

$background_lightest_grey: #f8f8f8;
$background_flat_white: #f3ebe1;
$background_lavender_latte: #eae6fc;
$background_espresso: #e5e6e8;

$tablet-width: 768px;
$desktop-width: 1440px;
