.catalog {
  padding: 20px 0 25px;
  background-color: $background_lightest_grey;

  @media (min-width: $tablet-width) {
    padding: 0 0 90px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 120px;
  }
}

.catalog__container {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 728px;
  }

  @media (min-width: $desktop-width) {
    width: 1360px;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
}

.filter {
  display: flex;
  flex-direction: column;
  margin: 0 0 45px;

  @media (min-width: $tablet-width) {
    margin: 0 0 44px;
  }

  @media (min-width: $desktop-width) {
    grid-row: 3 / 5;
    margin: 0 30px 45px 0;
  }
}

.filter__price-block {
  @media (min-width: $tablet-width) {
    display: flex;
    gap: 30px;
    margin: 0 0 40px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

.filter__button-block {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
  }
}

.catalog__title {
  padding: 29px 0 0;
  margin: 0;
  text-transform: uppercase;
  color: $basic_primary;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 80px 0 4px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 0 4px;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }
}

.catalog__subtitle {
  margin: 5px 0 20px;

  @media (min-width: $tablet-width) {
    margin: 0 0 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 40px;
    grid-column: 1 / 4;
    grid-row: 2 / 3;
  }
}

.filter__price-fieldset {
  border: none;
  margin: 0 0 31px;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.filter__price-legend {
  margin: 0 0 20px;
}

.filter__range-toggle {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid $basic_primary;
  background-color: $basic_white;
  top: -10px;

  &:hover,
  &:focus-visible {
    &::before {
      content: "";
      background-color: $alt_primary_opacity;
      border-radius: 50%;
      width: 16px;
      height: 16px;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &:active {
    &::before {
      content: "";
      background-color: $basic_primary;
      border-radius: 50%;
      width: 16px;
      height: 16px;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.filter__range {
  position: relative;
  top: 9px;
  height: 2px;
  background-color: $alt_light_grey;
}

.filter__range-bar {
  position: absolute;
  height: 4px;
  background-color: $basic_primary;
  left: 0;
  width: 260px;

  @media (min-width: $tablet-width) {
    width: 203px;
  }

  @media (min-width: $desktop-width) {
    width: 298px;
  }
}

.toggle-max {
  right: 0;
}

.filter__price {
  margin-top: 45px;
  display: flex;
  position: relative;

  &::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 2px;
    color: $basic_grey;
    background-color: $basic_grey;
    position: absolute;
    top: 20px;
    left: 136px;

    @media (min-width: $tablet-width) {
      left: 107px;
    }
  }

  @media (min-width: $tablet-width) {
    margin-top: 42px;
  }
}

.filter__price-range {
  width: 118px;
  height: 40px;
  border: 2px solid $alt_primary_lighter;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;

  &:focus {
    outline: none;
    border-color: $basic_primary;
    color: $basic_black;
  }

  @media (min-width: $tablet-width) {
    width: 89px;
  }

  @media (min-width: $desktop-width) {
    width: 133px;
  }
}

.start {
  color: $basic_grey;

  @media (min-width: $tablet-width) {
    margin-right: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 52px;
  }
}

.end {
  margin-left: auto;
}

.filter__availability-fieldset {
  border: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 0 30px;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin: 0 10px 0 0;
  }
}

.filter__availability-legend {
  margin: 0 0 20px;
  padding: 0;
}

.filter__availability-switch {
  display: flex;
  align-items: center;
  gap: 10px;
}

.filter__availability-radio {
  &:hover:not(:disabled),
  &:focus-visible:not(:disabled) {
    &::before {
      content: "";
      background-color: $alt_primary_opacity;
      border-radius: 50%;
      width: 16px;
      height: 16px;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &:active:not(:disabled) {
    &::before {
      content: "";
      background-color: $basic_primary;
      border-radius: 50%;
      width: 16px;
      height: 16px;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

input[type="radio"] {
  margin: 0;
  width: 24px;
  height: 24px;
  border: 2px solid $basic_grey;
  appearance: none;
  border-radius: 50%;
  position: relative;

  &:hover,
  &:focus-visible {
    border-color: $alt_primary_lighter;
  }

  &:active {
    border-color: $basic_primary;
  }
}

input[type="radio"]:checked {
  border-color: $basic_primary;
}

input[type="radio"]:checked::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-color: $basic_primary;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[type="radio"]:disabled {
  border-color: $alt_light_grey;
}

.filter__country-input:disabled + .filter__country-slider {
  background-color: $alt_light_grey;
}

.inactive-label {
  color: $basic_grey;
}

.filter__country-fieldset {
  border: 0;
  padding: 0;
  margin: 0 0 30px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.filter__country-legend {
  margin: 0 0 20px;
}

.filter__country-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.filter__country-switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 24px;
}

.filter__country-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.filter__country-switch input {
  display: none;
}

.filter__country-slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: $basic_grey;
  border-radius: 34px;


  &:hover {
    background-color: $alt_primary_opacity;
  }

  &::before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 2px;
    background-color: $basic_white;
    transition: 0.4s;
    border-radius: 50%;
  }
}

input:checked + .filter__country-slider {
  background-color: $basic_primary;
}

input:focus + .filter__country-slider {
  box-shadow: 0 0 1px $basic_primary;
}

input:checked + .filter__country-slider::before {
  transform: translateX(17px);
}

.filter__button {
  padding: 8px 20px;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
}

.button-apply {
  background-color: $basic_primary;
  color: $basic_white;
  margin: 0 0 20px;

  &:hover {
    background-color: $alt_primary_lighter;
  }

  &:active {
    background-color: $alt_primary_darker;
  }

  &:disabled {
    background-color: $basic_grey;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 149px;
  }
}

.button-reset {
  background-color: $basic_white;
  color: $basic_primary;

  &:hover {
    background-color: $alt_primary_lighter;
    color: $basic_white;
  }

  &:focus-visible {
    background-color: $alt_primary_lighter;
    color: $basic_white;
  }

  &:active {
    background-color: $alt_primary_darker;
    color: $basic_white;
  }

  &:disabled {
    background-color: $alt_light_grey;
    color: $basic_white;
  }

  @media (min-width: $desktop-width) {
    width: 149px;
  }
}

.catalog__select-text {
  padding: 0 12px 0 4px;

  @media (min-width: $tablet-width) {
    padding: 0 17px 0 0;
  }
}

.catalog__select {
  border: none;
  color: $basic_primary;
  padding-right: 8px;
  background-color: $background_lightest_grey;

  &:hover,
  &:focus-visible {
    background-color: $basic_secondary;
  }
}

.catalog__select-block {
  margin: 0 0 18px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 0 5px 31px 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    margin: 0 6px 30px 0;
  }
}

.catalog__list {
  list-style: none;
  padding: 0;
  margin: 0 0 40px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 19px;

  @media (min-width: $tablet-width) {
    flex-flow: row wrap;
    gap: 30px;
    margin: 0 0 70px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
    margin: 0 0 60px;
  }
}

.catalog__item {
  background-color: $basic_white;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 40px 20px 20px 19px;

  @media (min-width: $tablet-width) {
    width: 349px;
    padding: 50px 30px 30px 29px;
  }

  @media (min-width: $desktop-width) {
    width: 317px;
  }
}

.catalog__picture {
  width: 130px;
  height: 188px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.catalog__item-text-block {
  margin: 0;
  padding: 0 0 16px;

  @media (min-width: $tablet-width) {
    margin: 0 0 0 -10px;
    padding: 0 0 18px;
    letter-spacing: 0.01em;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.catalog__item-subtitle {
  margin: 0;
  padding: 24px 0 4px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 30px 0 10px;
  }

  @media (min-width: $desktop-width) {
    padding: 31px 0 10px;
  }
}

.catalog__item-price-block {
  margin: 0;
  display: flex;
  gap: 49px;

  @media (min-width: $tablet-width) {
    margin: 0;
    gap: 99px;
  }

  @media (min-width: $desktop-width) {
    gap: 67px;
  }
}

.catalog__item-price-text {
  margin: 2px 0 0;

  @media (min-width: $tablet-width) {
    margin: 3px 0 0;
  }
}

.catalog__item-price-rouble {
  margin-left: 1px;
}

.catalog__item-price-button {
  box-sizing: border-box;
  background-color: $basic_primary;
  color: $basic_white;
  border-radius: 4px;
  border: none;
  padding: 8px 20px;

  &::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 16px;
    background-image: url("../../images/catalog_button_union_mobile@2x.png");
    background-repeat: no-repeat;
    background-size: 20px 16px;
  }

  &:hover {
    background-color: $alt_primary_lighter;
  }

  &:active {
    background-color: $alt_primary_darker;
  }

  &:disabled {
    background-color: $basic_grey;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.catalog__pagination-nav {
  @media (min-width: $desktop-width) {
    grid-column: 3 / 4;
    grid-row: 5 / 6;
  }
}

.catalog__pagination-list {
  padding: 0;
  list-style: none;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    margin: 0 13px 0 0;
    justify-content: end;
  }

  @media (min-width: $desktop-width) {
    margin: 0 7px 0 0;
    gap: 22px;
  }
}

.catalog__pagination-button {
  border: none;
  box-sizing: border-box;
  border-radius: 4px;
  color: $basic_primary;
  background-color: $basic_white;

  &:hover {
    background-color: $alt_primary_lighter;
    color: $basic_white;
  }

  &:active {
    background-color: $alt_primary_darker;
    color: $basic_white;
  }

  &:focus-visible {
    background-color: $alt_primary_darker;
    color: $basic_white;
  }

  &:disabled {
    background-color: $alt_light_grey;
    color: $basic_white;
  }
}

.catalog__pagination-button:not(.pagination-back):not(.pagination-forward) {
  width: 40px;
  height: 40px;
}

.catalog__pagination-button--active {
  color: $basic_black;
  background-color: $background_lightest_grey;
  font-weight: bolder;

  &:hover {
    background-color: $background_lightest_grey;
    color: $basic_black;
  }

  &:active {
    background-color: $background_lightest_grey;
    color: $basic_black;
  }

  &:focus-visible {
    background-color: $background_lightest_grey;
    color: $basic_black;
  }

  &:disabled {
    background-color: $background_lightest_grey;
    color: $basic_black;
  }
}

.pagination-back {
  background-image: url("../../images/pagination-icon-back.svg");
  background-repeat: no-repeat;
  background-size: 10px 10px;
  background-position: 50%;
  width: 40px;
  height: 40px;

  &::before {
    @media (min-width: $tablet-width) {
      content: "Назад";
      display: inline-block;
    }
  }

  &:hover {
    background-image: url("../../images/pagination-icon-back_hover.svg");
  }

  &:focus-visible {
    background-image: url("../../images/pagination-icon-back_hover.svg");
  }

  @media (min-width: $tablet-width) {
    background-image: none;
    background-size: none;
    width: 91px;
    height: 40px;
  }
}

.pagination-forward {
  background-image: url("../../images/pagination-icon-forward.svg");
  background-repeat: no-repeat;
  background-size: 10px 10px;
  background-position: 50%;
  width: 40px;
  height: 40px;

  &:hover {
    background-image: url("../../images/pagination-icon-forward_hover.svg");
  }

  &:focus-visible {
    background-image: url("../../images/pagination-icon-back_hover.svg");
  }

  &::before {
    @media (min-width: $tablet-width) {
      content: "Вперед";
      display: inline-block;
    }
  }

  @media (min-width: $tablet-width) {
    background-image: none;
    background-size: none;
    width: 91px;
    height: 40px;
  }
}
