.navigation {
  width: 320px;
  background-color: $basic_white;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 728px;
    margin: 0 auto;
    justify-content: start;
  }

  @media (min-width: $desktop-width) {
    width: 1360px;
    margin: 0 auto;
  }
}

.navigation__logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: 0 0 0 20px;

  &::after {
    @media (min-width: $desktop-width) {
      content: "Интернет-магазин кофейных напитков";
      display: inline-block;
      font-family: "Montserrat", serif;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      color: $basic_black;
      margin: 0 0 0 20px;
      width: 126px;
    }
  }

  @media (min-width: $tablet-width) {
    margin: 0 68px 0 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 163px 0 0;
  }
}

.main-header__picture-icon {
  @media (min-width: $tablet-width) {
    width: 82px;
    height: 36px;
  }

  @media (min-width: $desktop-width) {
    width: 170px;
    height: 36px;
  }
}

.navigation__list-wrapper--open {
  display: none;
}

.navigation__list-wrapper {
  position: absolute;
  background-color: $basic_white;
  z-index: 1;
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 320px;
  top: 60px;


  @media (min-width: $tablet-width) {
    position: static;
    display: flex;
    margin: 0 60px 0 0;
  }

  @media (min-width: $desktop-width) {
    align-items: center;
    gap: 20px;
    margin: 0 159px 0 0;
  }
}

.navigation__list-button {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $desktop-width) {
    gap: 25px;
  }
}

.navigation__item {
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    align-items: center;

    &:hover {
      color: $basic_primary;
    }

    &:hover .button-user {
      background-image: url("../../images/user_icon_activ.svg");
    }

    &:hover .button-union {
      background-image: url("../../images/union_icon_activ.svg");
    }

    &:focus-visible {
      color: $basic_primary;
    }

    &:focus-visible .button-user {
      background-image: url("../../images/user_icon_activ.svg");
    }

    &:focus-visible .button-union {
      background-image: url("../../images/union_icon_activ.svg");
    }

    &:active {
      background-color: $basic_secondary;
    }

    &:active .navigation__button {
      background-color: $basic_secondary;
    }

    &:active .button-user {
      background-image: url("../../images/user_icon_activ.svg");
    }

    &:active .button-union {
      background-image: url("../../images/union_icon_activ.svg");
    }
  }
}

.navigation__button {
  border: none;
  background-color: $basic_white;
  padding: 30px;
  cursor: pointer;

  &:active {
    background-color: $basic_secondary;
  }

  @media (min-width: $tablet-width) {
    padding: 40px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 32px 18px;
  }
}

.item-user {
  &::after {
    @media (min-width: $desktop-width) {
      content: "Войти";
      display: inline-block;
      text-transform: uppercase;
      font-family: "Montserrat", serif;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
    }
  }

  @media (min-width: $desktop-width) {
    display: flex;
    padding: 8px 13px;
  }
}

.button-user {
  background-image: url("../../icons/user_icon.svg");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: 50%;
}

.item-union {
  &::after {
    @media (min-width: $desktop-width) {
      content: "Корзина";
      display: inline-block;
      text-transform: uppercase;
      font-family: "Montserrat", serif;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
    }
  }

  @media (min-width: $desktop-width) {
    display: flex;
    padding: 8px 13px;
  }
}

.button-union {
  background-image: url("../../icons/union_icon.svg");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: 50%;
}

.button-wrapper {
  background-image: url("../../icons/wrapper_icon.svg");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: 50%;
}

.button-vissible {
  background-image: url("../../images/wrapper_close.svg");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: 50%;
}

.button-close {
  display: none;
}

.item-wrapper {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.navigation__wrapper-item {
  padding: 18px 0 20px;
  text-align: center;
  border-top: 1px solid $basic_secondary;

  &:nth-child(4) {
    border-bottom: 1px solid $basic_secondary;
  }

  &:active {
    background-color: $basic_secondary;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    display: flex;
    margin: 0;
    gap: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;
  }
}

.navigation__wrapper-link {
  text-decoration: none;
  color: $basic_black;
  text-transform: uppercase;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 32px 21px 30px;
    box-sizing: border-box;

    &:active {
      background-color: $basic_secondary;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 31px 21px;
    box-sizing: border-box;

    &:hover {
      color: $basic_primary;
    }

    &:focus-visible {
      color: $basic_primary;
    }

    &:active {
      background-color: $basic_secondary;
    }
  }
}

.navigation__wrapper-link--active {
  @media (min-width: $tablet-width) {
    border-bottom: 2px solid $basic_primary;
    color: $basic_primary;
  }

  @media (min-width: $desktop-width) {
    border-bottom: 2px solid $basic_primary;
    color: $basic_primary;
  }
}
